body{
    color: rgb(160, 250, 142);
    background-color: rgb(127, 175, 247);
}
.heading{
    width: 80%;
    font-size: 55px;

}

.name_of_objects,#result_object_name,#result_object_accuracy{
    color: rgb(231, 228, 18);
}

#camera,#result{
    border:2px dashed rgb(221, 38, 238);
    width: 350px;
    height: 300px;
}

